.main-container-businesses {
  background-color: $color-background;
  width: 100%;
  margin-top: 50px;

  .container-businesses {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px 15px 15px;

    .businesses-box {
      width: 100%;
      display: grid;
      place-items: center;
      gap: 0;

      .center-container {
        background-color: $color-background;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        border-radius: 10px;
        gap: 10px;

        .businesses-container {
          background-color: #fdfef5;
          flex: 1 1 300px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 25px;
          border-radius: 10px;

          .business-image {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 10px;
          }

          .businesses-category {
            background-color: $color-primary-lighter;
            color: $color-primary;
            margin-top: 10px;
            border-radius: 25px;
            display: inline-block;
            padding: 5px 10px;
            width: fit-content;

            p {
              display: inline;
              font-weight: 700;
            }
          }

          .businesses-name {
            margin-top: 10px;
            font-weight: 900;
            span {
              font-style: italic;
            }
          }

          .businesses-person {
            margin-top: 10px;
            color: $color-primary;
            span {
              font-style: italic;
              color: black;
            }
          }
          .businesses-address {
            margin-top: 10px;
            span {
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
